@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>Gene by Gene</title>
   <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet">
   <link href="~/Content/site.css" rel="stylesheet">
   @Styles.Render("~/Content/css")
</head>
<body ng-app="GBG_WebApp" class="container">

   <div class="jumbotron">
      <h1>Test App For Gene by Gene</h1>
      <h2>By William Blankenship</h2>
   </div>

   <view-samples></view-samples>
   <add-sample></add-sample>

   @Scripts.Render("~/bundles/vendors")
   @Scripts.Render("~/bundles/app")

</body>
</html>
